// Default Toolbox Responsive Optimizations
@media screen and (max-width:767px){
	.vn-category-search {
		.__category-title, .__category-item {
			text-align: left;
		}

		@media(max-width : 767px) {
			background-color: forestgreen;
		}
	}
}
// Tablets
@media screen and (min-width:768px){
	.vn-category-search {
		.__category-title {
			border-bottom: 2px solid crimson;
		}
	}
}

