.facets {
	.facet-item {
		.-facet-property {
			// Style for the checkboxes
			input[type="checkbox"] {
				display:none;
			}
			input[type="checkbox"] + span:before {
				margin: 0;
				padding: 0;
				font-family: 'Glyphicons Halflings'!important;
				padding-right: 3px!important;
				margin-top: 3px!important;
				font-size: 12px!important;
			}
			input[type="checkbox"] + span:before {
				content: "\e157"!important; /* check-empty */
			}
			input[type="checkbox"]:checked + span:before {
				content: "\e067"!important; /* check */
			}
		}
	}
}

// Animation style for the list management
.facet-item {
    .ng-enter,
    .ng-leave {
        -webkit-transition: 0.5s ease-out all, visibility 0.1s linear;
        -moz-transition: 0.5 ease-out all, visibility 0.1s linear;
        -ms-transition: 0.5 ease-out all, visibility 0.1s linear;
        -o-transition: 0.5 ease-out all, visibility 0.1s linear;
        transition: 0.5 ease-out all, visibility 0.1s linear;
        width: 100%;
        overflow: hidden;
    }

    .ng-leave.ng-leave-active,
    .ng-enter {
        width: 0%;
        height: 0px;
    }

    .ng-enter.ng-enter-active,
    .ng-leave {
        width: 100%;
        height: 30px;
    }
}
