// Default Toolbox Responsive Optimizations
.facets {
	.facet-item {
		label {
			display: block;
		}

		.-facet-property {
			// Style for the checkboxes
			input[type="checkbox"] {
				display : none;
			}
			input[type="checkbox"] + span:before {
				margin        : 0;
				padding       : 0;
				font-family   : 'Glyphicons Halflings' !important;
				padding-right : 3px !important;
				margin-top    : 3px !important;
				font-size     : 12px !important;
			}
			input[type="checkbox"] + span:before {
				content : "\e157" !important; /* check-empty */
			}
			input[type="checkbox"]:checked + span:before {
				content : "\e067" !important; /* check */
			}
		}
	}
}

// Mobile
// Todo : change to bem syntax and move back into method
@media(max-width:767px){
	.-faceted-search {

//		> div {
//			text-align: center;
//		}

		.facets {
			text-align: left;
			.facet-item {
				label {
//					display: inline-block;
//					padding-left: 15px;
				}
			}
		}
	}
}
// Tablets
@media(min-width:768px){
	.-faceted-search {

	}
}
// Browser
@media(min-width:992px){
	.-faceted-search {

	}
}
// Retina ?
@media(min-width:1200px){
	.-faceted-search {
	}
}

// Animation style for the list management
.facet-item {
	.ng-enter,
	.ng-leave {
		-webkit-transition : 100ms ease-out all;
		-moz-transition    : 100ms ease-out all;
		-ms-transition     : 100ms ease-out all;
		-o-transition      : 100ms ease-out all;
		transition         : 100ms ease-out all;
	}

	.ng-leave.ng-leave-active,
	.ng-enter {
		opacity: 0;
	}

	.ng-enter.ng-enter-active,
	.ng-leave {
		opacity: 1;
	}
}
