<div class="vn-category-search__category-items"
	 data-ng-repeat="cat in categories"
	 data-ng-class="{ '-last': $last }">

	<a href
	   data-ng-if="cat.displayStrategy == 'categoryDisplayTwo' || cat.displayStrategy == 'categoryDisplayThree' "
	   data-ng-click="buildAppUrl(cat)"
	   class="vn-category-search__category-items__category-title"
	   data-ng-class="{ '-noborder': $last && cat.displayStrategy == 'categoryDisplayOne' }">

		<span data-ng-if="cat.displayStrategy == 'categoryDisplayTwo' " class="glyphicon glyphicon-chevron-left"></span>
		{{ cat.name }}
	</a>
	<span class="vn-category-search__category-items__category-title" data-ng-if="cat.displayStrategy == 'categoryDisplayOne' ">{{ cat.name }}</span>
	<div class="vn-category-search__category-items__category-item"
	     data-ng-repeat="subCat in cat.subCategories"
		 data-ng-class="{ '-noborder': $last }">

		<span data-ng-if="subCat.hideSubCatLink">{{ subCat.name }}</span>
		<a href
		   data-ng-if="!subCat.hideSubCatLink"
		   data-ng-click="buildAppUrl(subCat)">{{ subCat.name }}</a>
	</div>
</div>
