<div class="-faceted-search">
	<div class="facets">
		<div class="facet-item" data-ng-repeat="facet in facets track by $index">
			<h4 ng-show="isDesktopFacet">{{ facet.title }}</h4>
			<a ng-show="!isDesktopFacet"
				ng-click="toggleFacetItems($index)">
				<h4>{{ facet.title }}</h4></a>
			<div ng-show="facets[$index].show">
				<label class="-facet-property"
					   data-ng-repeat="property in facet.properties track by $index">
					<input type="checkbox"
						   name="property.name"
						   ng-checked="selectProperty(property)"
						   ng-click="refineFacetSearch(property)"/>
					<span class="name">{{ property.name }}</span>
					<span class="count">{{ property.count }}</span>
				</label>
			</div>
			<hr>
		</div>
	</div>
</div>
