<div data-accordion-group class="facet-item"
		 data-ng-repeat="facet in facets track by $index"
		 data-is-open="defaultAccordianOpen">
	<div data-accordion-heading>
		<div>
			<span>{{ facet.title }}</span>
			<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': defaultAccordianOpen, 'glyphicon-chevron-right': !defaultAccordianOpen}"></i>
		</div>
	</div>
	<label class="facet-property"
		   data-ng-repeat="property in facet.properties track by $index">
		<input type="checkbox"
			   name="property.name"
			   data-ng-checked="selectProperty(property)"
			   data-ng-click="refineFacetSearch(property)"/>
		<span class="name">{{ property.name }}</span>
		<span class="count">{{ property.count }}</span>
	</label>
</div>
