<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
		Sort by
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation">
			<a role="menuitem"
			   tabindex="-1"
			   href=""
			   data-ng-click="sortBy('relevence')">Relevance</a>
		</li>
		<li role="presentation">
			<a role="menuitem"
			   tabindex="-1"
			   href=""
			   data-ng-click="sortBy('highest price')">Highest price</a>
		</li>
		<li role="presentation">
			<a role="menuitem"
			   tabindex="-1"
			   href=""
			   data-ng-click="sortBy('lowest price')">Lowest price</a>
		</li>
		<li role="presentation">
			<a role="menuitem"
			   tabindex="-1"
			   href=""
			   data-ng-click="sortBy('relevence')">Popularity</a>
		</li>
		<li role="presentation">
			<a role="menuitem"
			   tabindex="-1"
			   href=""
			   data-ng-click="sortBy('newest')">Newest</a>
		</li>
		<li role="presentation">
			<a role="menuitem"
			   tabindex="-1"
			   href=""
			   data-ng-click="sortBy('oldest')">Oldest</a>
		</li>
	</ul>
</div>
