<div class="dropdown"
	 data-vn-element="select"
	 data-vn-modifiers="{{ option.class }}"
	 data-ng-attr-size="{{ inputType.size }}">

	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuOption{{ option.id }}" data-toggle="dropdown">
		{{ currentSelectionText }}
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuOption{{ option.id }}">
		<li role="presentation" data-ng-repeat="item in option.items">
			<a role="menuitem" tabindex="-1" href
			   data-ng-click="onOptionChanged(option, item)">

				{{ item.text }}
			</a>
		</li>
	</ul>
</div>
