<div class="header">
    <h3 class="text-muted">Volusion's Common Widgets</h3>
    {{ 'TEST_VAR' | translate }}
</div>

<div class="row marketing">
    <h4 class="text-muted">Carousel</h4>
    <h4>Usage:</h4>
    <code>
        Add "vn-carousel" attribute to <ul> element.
    </code>

    <br/>
    <hr>
    <h4>Look'n'feel:</h4>

    <div vn-carousel="imageList"></div>
</div>

<hr>

<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman and Volusion teams</p>
</div>
