<div class="header">
    <h3 class="text-muted">Volusion's Common Widgets</h3>
    <button ng-click="toggleLang()">Toggle language ({{ 'CURRENT_LANG_CODE' | translate }})</button>   {{ 'TEST_VAR' | translate }}
</div>

<div class="row marketing">
    <h4 class="text-muted">Navbar</h4>
    <h4>Usage:</h4>
    <code>
        Add "vn-nav" attribute to "div" element or "vn-nav" element.
    </code>

    <br/>

    <h4>Look'n'feel:</h4>

    <div vn-nav category-list="categoryList" callback="alert('TEST')"></div>
</div>

<hr>

<div class="row marketing">
    <h4 class="text-muted">Carousel</h4>
    <h4>Usage:</h4>
    <code>
        Add "vn-carousel" attribute to "div" element or "vn-carousel" element.
    </code>

    <br/>

    <h4>Look'n'feel:</h4>
    <div vn-carousel carousel-objects="imageList"></div>
</div>

<hr>

<div class="row marketing">
    <h4 class="text-muted">Rating</h4>
    <h4>Usage:</h4>
    <code>
        Add "vn-rating" attribute to "div" element or "vn-rating" element.
    </code>

    <br/>

    <h4>Look'n'feel:</h4>

    <div vn-rating rating-value="rating"></div>
</div>

<hr>

<div class="row marketing">
    <h4 class="text-muted">Image</h4>
    <h4>Usage:</h4>
    <code>
        Add "vn-image" attribute to "div" element or "vn-image" element.
    </code>

    <br/>

    <h4>Look'n'feel:</h4>

    <div vn-image image="imageList[1]"></div>
    <!--<image vn-image image="imageList[1]" class="responsive" />-->

</div>

<hr>

<div class="row marketing">
    <h4 class="text-muted">Link</h4>
    <h4>Usage:</h4>
    <code>
        Add "vn-link" attribute to any element or "vn-link" element.
    </code>

    <br/>

    <h4>Look'n'feel:</h4>

    <vn-link href="http://www.yahoo.com" target="_blank" translate>VN-YAHOO-LINK</vn-link>
    <br />
    <a vn-link href="http://www.google.com" translate>VN-GOOGLE-LINK</a>
    <br />
    <div vn-link href="http://www.google.com" >goto GOOGLE</div>
</div>

<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman and Volusion teams</p>
</div>
