<div class="th-error-wrap clearfix">
	<div class="th-error-details">
		<div class="th-error-details__header modal-header">
			<h1>This is a generic app message template</h1>
			<div class="modal-body">
				<p class="th-message-details__section1">It should be over ridden in the calling application</p>

			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="$dismiss()">Ok</button>
				<button class="btn btn-warning" ng-click="$close()">Cancel</button>
			</div>
		</div>
	</div>
</div>
